.main {
  height: calc(100vh - 124px);
  display: flex;
  justify-content: center;
}

.main__image {
  margin: auto 0 0;
  height: 571px;
}

.main__role {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-family: "Poppins";
  font-weight: 500;
  text-transform: capitalize;
  bottom: 30px;
  left: 50px;
}
