.header {
  display: flex;
  align-items: center;
  min-height: 120px;
  max-width: 1440px;
  border-bottom: 1px solid grey;
  margin: auto;
}

.header__logo {
  margin: 0 auto 0 0;
  font-size: 32px;
  font-weight: 500;
}

.header__logo_cyan {
  color: #12f7d6;
}

.header__logo_white {
  color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 64px;
}
