.header__logo {
  display: flex;
  align-items: center;
  padding: 50px 50px 0;
}

.header__image {
  width: 74px;
  height: 74px;
}

.header__title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  color: #01c2e8;
  margin: 0 0 0 10px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.header__name {
  font-family: "Poppins";
  font-size: 26px;
  margin: 0 0 0 auto;
  color: #01c2e8;
  text-align: right;
  text-transform: capitalize;
}

.header__name_first {
  margin: 0;
}

.header__name_last {
  font-weight: 600;
  margin: 0;
}
