.socials__items {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socials__item {
  display: flex;
  align-items: center;
  transition: opacity 0.15s linear 0s;
}

.socials__item:hover {
  opacity: 0.7;
}

.socials__icon {
  color: #12f7d6;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
}

.socials__text {
  text-decoration: none;
  color: #fff;
}
